<div class="page-header">
  <h1><%= @current_date.strftime("%A, %d %B, %Y") %></h1>
</div>

<div class="row">
  <div class="col-md-4">
    <table class="table table-bordered time-selectable">
      <% @time_segments.each_with_index do |segment_class, i| %>
        <tr>
          <td class="time-ruler"><span class="time-ruler-num"><%= "#{i / 2}:00" if i.even? && i > 0 %></span></td>
          <%= puts @segment_bg[i] %>
          <td class="time-segment <%= i.even? ? "even-hour" : "odd-hour" %> <%= segment_class %>"
            style="<%= "background-color: #{@segment_bg[i]}" unless @segment_bg[i].empty? %>">
            <input type="hidden" class="time-slot-start" value="<%= slot_to_time_str(i) %>">
            <input type="hidden" class="time-slot-end" value="<%= slot_to_time_str(i+1) %>">
          </td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="col-md-8">
    <h3>Activity</h3>
    <table class="table table-hover" id="activity-list">
      <colgroup>
        <col width="5%">
        <col width="18%">
        <col>
        <col width="12%">
      </colgroup>
      <% @logs.each do |log| %>
        <% if log.start_time && log.end_time %>
          <tr class="log-row">
            <%= render partial: "logs/log_li", locals: { log: log } %>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
</div>

<div class="modal fade" id="logFormModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Log from <span id="logStartTime">(start_time)</span> - <span id="logEndTime">(end_time)</span>, <%= @current_date %></h4>
      </div>
      <div class="modal-body">
        <form id="logForm">
          <input type="hidden" id="logIdHidden" name="log_id"></input>
          <input type="hidden" id="logDateHidden" value="<%= @current_date %>"></input>
          <div class="form-group">
            <label for="logTagArea">Primary Tag</label>
            <br/>
            <select id="logTagSelect">
              <%= @tags.each do |tag| %>
                <option value="<%= tag.id %>" data-tag-color=<%= tag.color %>>
                  <span><%= tag.title %></span>
                </option>
              <% end %>
            </select>
          </div>
          <div class="form-group">
            <label for="logContentInput">Content</label>
            <input class="form-control" id="logContentInput">
          </div>
          <div class="form-group">
            <label for="logExtraTextarea">Extra</label>
            <textarea rows="5" class="form-control" id="logExtraTextarea"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="close_log_form" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="save_log" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
