<!DOCTYPE html>
<html>
<head>
  <title>DailyLog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
  <div class="full-width-container">
    <div class="navbar-header">
      <a class="navbar-brand" href='/'>Daily Log</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href='/'>Day</a></li>
        <li><a href='<%= week_url() %>'>Week</a></li>
        <li><a href='<%= month_url() %>'>Month</a></li>
        <li><a href='#'>Calendar</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href='#'>Graphs</a></li>
        <li><a href='<%= tags_url() %>'>Groups</a></li>
      </ul>
    </div>
  </div>
</nav>

<a id="page-content"></a>
<div class="full-width-container">
  <div class="row">
    <div class="col-lg-2">
      <div class="tags-nav">
        <div class="page-left-nav">
          <h4>Groups</h4>
          <ul class="tag-list-nav">
            <% @tags.each do |tag| %>
              <li>
                <div class='tag-color-box-small' style='background-color: <%= tag.color %>'></div>
                <span><%= tag.title %></span>
              </li>
            <% end %>
            <li><a href='<%= tags_url() %>'>Edit</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-10">
      <div class="main-content">
        <%= yield %>
      </div>
    </div>
  </div>
</div>

</body>
</html>
